<!-- Lots more examples can be found here
     https://mkyong.com/logging/logback-xml-example/ -->

<configuration>

    <!-- Simple appender to the console -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} MDC=%X{user} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Because this runs from the lib directory, the file will appear in lib/logs/app.log
         The directory is created as needed. -->

    <property name="LIB_LOG" value="logs/app.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LIB_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, max size is as below -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size than this limit, it will delete old archived file -->
            <totalSizeCap>100MB</totalSizeCap>
            <!-- The number of days to keep -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} MDC=%X{user} - %msg%n</pattern>
            <!-- <pattern>%d %p %c{1.} [%t] %m%n</pattern> -->
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE-ROLLING" />
    </appender>

    <root level="debug">
        <appender-ref ref="ASYNC"/>
    </root>

    <root level="warning">
        <appender-ref ref="STDERR" />
    </root>
</configuration>
